body {
    margin: 0;
    overflow: hidden;
}

canvas {
    display: block;
}

.optionsButtons {
    background-color: inherit;
    color: black;
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 45px;
    cursor: pointer;
    width: 6.5vw;
    height: 15vh;
    transition: box-shadow 0.3s ease;
}

.optionsButtons:hover {
    box-shadow: 0 0 50px 20px rgb(245, 172, 70) !important;
    background-color: rgba(245, 172, 70, 0.8) !important;

}